/* BODY */

* {

}

body {
  background-image: url('img/bkgrd2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding: 8%;
}

h1 {
  font-weight: bold;
}

/* LANDING PAGE */

#enter-button {
  width: 35%;
  position: relative;
  top: 10em;
  left: 2em;
  text-align: center;
  color: Purple;
  margin: 0 auto;
  font-size: 1.9em;
  font-family: 'Barlow Semi Condensed';
  font-weight: bold;
  text-shadow: 1px 1px #FFF;
}

#enter-button:hover {
  color: Green;
}

/* ANIMATIONS */
.hide {
  display: none;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}
