/* BODY */

* {

}

body {
  background-image: url('img/bkgrd1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding: 5%;
}

h1 {
  font-weight: bold;
}

/* LANDING PAGE */

#enter-button {
  width: 17%;
  position: relative;
  top: 12em;
  text-align: center;
  color: Purple;
  margin: 0 auto;
  font-size: 1.5em;
  font-family: 'Barlow Semi Condensed';
}

#enter-button:hover {
  color: Green;
}

/* ANIMATIONS */
.hide {
  display: none;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}
