/* GENERAL/ELEMENTS */

body {
  margin: 0;
}

section {
  padding: 3%;
}

a {
  width: 10%;
  text-decoration: none;
  color: #FFF;
}

h2 {
  text-align: center;
}

p {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Abel';
  font-size: 1.1em;
}

#header {
  width: auto;
  margin: 0;
  padding: 3%;
  background-color: Black;
  text-align: center;
}

#header-title {
  width: 20%;
  margin: 0 auto;
  font-family: 'Abel';
  font-size: 2em;
}

.dollar {
  color: Green;
}

#section-two {
  background-color: Black;
}

#para-1 {

}
#header-2, #para-2 {
  color: #FFF;
}
