body {

}

#header {
  width: auto;
  margin: 0;
  padding: 3%;
  background-color: Black;
  text-align: center;
}

a {
  width: 10%;
  text-decoration: none;
  color: #FFF;
}

#header-title {
  width: 20%;
  margin: 0 auto;
  font-family: 'Abel';
}
