/* GENERAL, ELEMENTS */

body {
  margin: 0;
}

section {
  padding: 10%;
}

a {
  width: 10%;
  text-decoration: none;
  color: #FFF;
}

h2 {
  text-align: center;
  font-family: 'Abel';
  font-weight: bold;
  font-size: 1.7rem;
}

p {
  width: 66%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Abel';
  font-size: 1.3em;
}

button {
  width: 100%;
  padding: 0.9em;
  border-radius: 15px;
  background-color: Red; 
  color: #FFF;
  font-size: 1em;
  font-weight: normal;
  font-style: italic;
}

.buttonChange {
  background-color: Green;
  cursor: pointer;
  border-radius: 0;
}

#begin-button {
  width: 20%;
  margin: 0 auto;
  text-align: center;
}

/* HEADER */
.header {
  font-family: 'Abel';
  font-size: 2.1em;
  background-color: Black;
  text-align: center;
}

#header {
  width: auto;
  margin: 0;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 100;
}

#header-title {
  width: 30%;
  margin: 1rem auto;
  padding-bottom: 2%;
}

#link-title {
  padding: 2%;
  border: 3px solid #FFF;
  border-radius: 5px;
}

.dollar {
  color: Green;
}

.top-nav {
  margin: 0;
}

.nav li {
  display: inline;
  margin-right: 6rem;
}

li.nav-li {
  font-size: 1.3rem;
  font-style: italic;
}

/* MAIN BODY */

#section-two {
  background-image: url('../../img/growth-1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  padding: 22%;
}

#section-three {
  background-color: #FFF;
  position: relative;
  padding: 15%;
}

#header-3, #para-3 {
  color: Black;
}

#section-four {
  background-color: red;
  color: #FFF;
  padding: 18%;
}

#para-4 {
  color: #FFF;
}

#section-five {
  background-image: url('../../img/piggy-bank.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 19%;
}

#div-5 {
  position: relative;
  top: 1.5rem;
  left: 25em;
}

.para-5 {
  text-align: center;
  color: #FFF;
  font-weight: bold;
}

#section-six {
  background-color: blue;
  color: #FFF;
  padding: 11%;
}

#para-6 {
  color: #FFF;
}

/* FOOTER */
#footer {
  padding: 2%;
  background-color: Black;
  color: #FFF;
  font-size: 1em;
  font-weight: bold;
}

/* MOBILE */
@media screen and (max-width: 640px) {

}

/* DESKTOP */
@media screen and (min-width: 640px) {
  
}